@charset "UTF-8";

@import url('//cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

body {width : 100%; height:100%; text-color : #6B6B6B; font-family:'NanumSquareRound',sans-serif;}
a {text-decoration :none;}

/*Nav*/
header{position : relative; width:100%; height:80px; top:0px;
		font-size:18px; border-bottom :solid 1px;}
header ul{float : right; list-style:none; margin-top :16px; padding-right:25px;}
header li{float : left; margin : 0 0 0 0; padding: 10px 0 0 10px; border : 0;}
.icon {float : left; padding-left : 15px; padding-top:12px;}

/*Center*/
#center{ padding:20px 5px 20px 5px; width:100%; height:100%; }
.center-top{background-image :url('../Image/main.jpg'); width: 100%; height: 800px; background-size : cover;}
.center-linkhelp{position : absolute; left:200px; bottom:150px; }
.center-linklist{position : absolute; right:200px; bottom:150px;}

.center-middle{position : relative; float : left; width : 100%; height : 500px; padding : 5px 0px;}
.middle-sixgrid{width : 60%; height : 255px;}
.grid-top{float : left; height : 250px;}
.grid-bottom{float : left; height : 250px; padding-top:5px;}

.middle-nearinfo{width : 40%; float:right; margin-top:-255px;}

.grid{width : 33%; height : 250px;}


/*footer*/

footer{position : relative; width : 100%; height : 100px; bottom : 0px;}
.footer-table{width: 100%; padding : 25px 20px 5px 20px; text-align:left; font-size:15px; }
.footer-admin{position : absolute; text-size : 10px; right:10px;}
